<!DOCTYPE html>
<html>
	<head>


<style>
		

</style>

		<meta charset="utf-8">
		<title>三文鱼家族原料感官检验表</title>
		



	</head>
	<body>
		<div id="index">
		<table border="1" align="center" cellspacing="0">
			<th colspan="12" >三文鱼家族原料感官检验表</th>
				<tr >
					<td colspan="2" style="text-align: left;">原料名:</td>
					<td colspan="2"style="text-align: left;" > 生产商:</td>
					<td colspan="2" style="text-align: left;">货柜名:</td>
					<td colspan="2" style="text-align: left;">内部代码:</td>
					<td colspan="2" style="text-align: left;">抽检日期:</td>
					<td colspan="2" style="text-align: left;">检验人员:</td>
				</tr>
			<tr>
				<td width="100">标注净重</td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				<td width="100"></td>
				
			</tr>
			<tr>
				<td>规格</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			</tr>
			<tr>
				   <td>批号</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			
					
			</tr>
			<tr>
				<td>生产日期</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			</tr>
			<tr>
				<td>带冰衣重</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			</tr>
			<tr>
				<td>体色</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			</tr>
			<tr>
				<td>气味</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			</tr>
			<tr>
				<td>眼睛</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
				
			</tr>
			<tr>
				<td>鱼鳞</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
					
			</tr>
			<tr>
				<td>鱼鳃</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			</tr>
			<tr>
				<td>内脏</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			</tr>
			<tr>
				<td>鱼腹</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
			</tr>
			<tr>
				<td>备注</td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					<td width="100"></td>
					
					
			</tr>
			
		</table>
		</div>
		<div id="button1">
			<input type="button" style="width: 70px; height: 35px; margin: 10px 80px;" value="行数" />
            <input type="button"  style="width: 70px; height: 35px;margin: 10px 80px;" value="数值" />
		
		</div>
	</body>
</html>